In [13]:
import requests as req
from bs4 import BeautifulSoup
from IPython.display import display
import pandas as pd
import json

In [ ]:
#參考網站
#https://mis.twse.com.tw/stock/index.jsp (基本市況報導網站)

In [14]:
stock_num = input("please key in stock number: ")

please key in stock number: 2317

In [15]:
url = "https://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_" + stock_num + ".tw&json=1&delay=0&_=1581253418747"

r = req.get(url)
info  = json.loads(r.text)
info = info["msgArray"][0]
info

{'ts': '0',
 'fv': '293',
 'tk0': '2317.tw_tse_20200212_B_9998936451',
 'tk1': '2317.tw_tse_20200212_B_9998913988',
 'oa': '85.30',
 'ob': '85.20',
 'tlong': '1581489000000',
 'ot': '14:30:00',
 'f': '1010_552_463_857_590_',
 'ex': 'tse',
 'g': '50_161_76_77_274_',
 'ov': '168491',
 'd': '20200212',
 'it': '12',
 'b': '85.40_85.30_85.20_85.10_85.00_',
 'c': '2317',
 'mt': '000000',
 'a': '85.50_85.60_85.70_85.80_85.90_',
 'n': '鴻海',
 'o': '83.00',
 'l': '83.00',
 'oz': '85.30',
 'h': '85.60',
 'ip': '0',
 'i': '31',
 'w': '74.70',
 'v': '55982',
 'u': '91.10',
 't': '13:30:00',
 's': '6270',
 'pz': '85.50',
 'tv': '6270',
 'p': '0',
 'nf': '鴻海精密工業股份有限公司',
 'ch': '2317.tw',
 'z': '85.50',
 'y': '82.90',
 'ps': '6271'}

In [16]:
info_index = ['c','n','z','tv','v','o','h','l','y']
column = ['股票代號','公司簡稱','當盤成交價','當盤成交量','累積成交量','開盤價','最高價','最低價','昨收價']

stock = {}

for i in range(len(info_index)):
    stock[column[i]] = info[info_index[i]]
stock

{'股票代號': '2317',
 '公司簡稱': '鴻海',
 '當盤成交價': '85.50',
 '當盤成交量': '6270',
 '累積成交量': '55982',
 '開盤價': '83.00',
 '最高價': '85.60',
 '最低價': '83.00',
 '昨收價': '82.90'}

In [17]:
stock_info = pd.DataFrame(stock, index = ["股票資訊"])
stock_info = stock_info.astype({'當盤成交價': "float", '當盤成交量':"int64", '累積成交量':"int64", '開盤價':"float", '最高價':"float", '最低價':"float",'昨收價':"float"})

stock_info["漲跌幅"] = stock_info.loc["股票資訊","當盤成交價"] - stock_info.loc["股票資訊","昨收價"]
stock_info

      股票代號 公司簡稱  當盤成交價  當盤成交量  累積成交量   開盤價   最高價   最低價   昨收價  漲跌幅
股票資訊  2317   鴻海   85.5   6270  55982  83.0  85.6  83.0  82.9  2.6

In [18]:
#改變顯示顏色
def tablecolor(value):
    if value > 0:
        color = "red"
    elif value < 0:
        color = "green"
    else:
        color = "white"
    return "color: {}".format(color)

In [19]:
stock_info.style.applymap(tablecolor, subset=["漲跌幅"])